<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <div class="container text-center">
                        <img src="../../../assets/logo.png" alt="" width="100">
                    </div>
                    <h1 class="text-center">Login Here</h1>
                    <form>
                        <!--UserName field-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Username</mat-label>
                            <input required matInput placeholder="Enter Here" />
                            <mat-hint>Valid Username !!!</mat-hint>
                        </mat-form-field>
                        <!--Password field-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input type="password" required matInput placeholder="Enter Here" />
                        </mat-form-field>
                        <div class="container">
                            <button type="submit" mat-raised-button color="primary">Login</button>
                            <button class="ml10" mat-raised-button color="accent">Reset</button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>